.eventSlide {
    width: 1200px;
    margin: 0 auto;
    .type{
        margin: 22px 0 8px 0;
    }
    .title{
        color: #2f231c;
        font-size: 17px;
        line-height: 23px;
    }
    .period{
        margin: 11px 0;
        font-weight: 300;
        color: #948780;
    }
    
    .eventDots {
        display: flex !important;
        text-align: center;
        justify-content: center;

        li {
            button {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #cdccd5;
                font-size:0;
                margin: 15px;
                
                &:hover{
                    width: 10px;
                    height: 10px;
                    background: #000;
                    transition: all ease 0.2s;
                }
            }

            &.slick-active {
                button {
                    margin: 13px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #000;

                }

            }
        }
    }
}
