.slick-dots {
    bottom: 18px;
    li {
        button {
            &::before{
                opacity: 1;
                color:#fff 
            }
        }

        &.slick-active {
            button {
                &::before {
                    opacity: 1;
                    color: #301d17 !important;
                }
                
            }
        }
    }
}