@charset "utf-8";

@font-face {
    font-family: 'M';
    src: url('../fonts/현대하모니+M.ttf') format('truetype');
}

@font-face {
    font-family: 'B';
    src: url('../fonts/현대하모니+B.ttf') format('truetype');
}

@font-face {
    font-family: 'L';
    src: url('../fonts/현대하모니+L.ttf') format('truetype');
}

a {
    text-decoration: none !important;
}

header {
    background: #f2f2f2;
}

.navigate-list {
    display: flex;
    align-items: center;
    width: 1120px;
    margin: 0 auto;
    justify-content:space-between;
}

.navigate-list>li {
    text-align: center;
    color:#666;
    padding:20px 0;
}


.navigate-list li a {
    
    color: #666 !important;
    font-family: "M";
    font-size: 15px;
}

.close-bussiness{
    font-family: "L" !important;
    font-size: 20px !important;
    font-weight: 100;
    border:none;
}

.close-search{
    font-family: "L" !important;
    font-size: 20px !important;
    font-weight: 100;
    border:none;
    position: absolute;
    right: 271px;

    top: 20px;
    background:none;
}
.navigate-list>li.icon-list>a>img{
    width:17px;
    height:17px;
    padding:0 9px;
}

a.share:after{
    content: "";
    padding-left: 7px;
    padding-right: 7px;
    background: url(../img/share.png) no-repeat;
    background-position: 0 3px;
    margin: 0 0 0 6px;

}
.lang{
    background:#f2f2f2;
    border:none;
}
.logo img {
    width: 155px;
}
.lang-select{
    position: absolute;
    top: 65px;
    display: none;
}
.display-block{
    display:block;
}
.lang-wrap.active{
    color: #002c5f;
}
.lang-select li{
    background-color:#f2f2f2;
    color:#777673;
}
.lang-select button{
    background:none;
    border:none;
    padding:20px
}
.lang-wrap{
    font-family: "M";
}
.arrow{
    transform: rotate(90deg);
    display: inline-block;
}
.arrow-down{
    transform: rotate(270deg);
}
.navigate-list li:hover,
.navigate-list li a:hover{
    color:#002c5f !important;
}

.spin{
    color:#666 !important;
    transition: transform .3s ease-in-out;
    transform: rotate(360deg);

}

.spin-2{
    color:#666 !important;
    transition: transform .3s ease-in-out;
    transform: rotate(-360deg);

}
section {
    width: 1120px;
    margin: 0 auto;
}

.swiper-wrapper {
    display: flex;
    width: 1120px;
    overflow: hidden;
    padding: 20px;
    
    margin: 40px auto;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
}

.swiper-wrapper::-webkit-scrollbar{ display:none; }


.swiper-wrapper li a {
    color: #7e7e7e;
    white-space: nowrap;
    padding: 20px;
    text-decoration: none;
    font-size: 14px;
    font-family: "L";

}

.swiper-wrapper li a:before {
    content: "#";
    padding-left: 7px;
}


.swiper-wrapper li a:after {
   content: "|";
    margin: 0 20px 0 20px;
    font-size: 10px;
    color: #ccc;

}
.bussiness-wrapper{
    background:#f1f1f1;
    width:100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 65px;
    max-height: 60px;
    display: none;
    border-top: 2px solid #e4dcd3;
    height: 0;
    border-bottom: 2px solid #e4dcd3;
}

.bussiness-info{
    background: #f4f3f2;
   

}
.bussiness-list{
    width:1120px;
    align-items:center;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.bussiness-list ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bussiness-list ul li{
    padding: 20px;
}
.bussiness-list ul li a{
    padding:20px;
}
.gray-bg{
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 15;
    display: none;
}
.search-window{
    background: #f5f4f1;
    width: 100%;
    height: 260px;
    position: absolute;
    z-index: 999;
    left: 0;
    display:none;
    top: 62px;
}

input[type="search"].search-st{
    height: 50px;
    padding-left: 20px;
    border: 0;
    font-size: 20px;
    line-height: 50px;
    background-color: white;
    
}

.search-div{
    background:#fff;
    width:572px;
    margin: 20px auto;

    display: flex;
    justify-content: space-between;
    
}
.search-list{
    width:572px;
    margin : 0 auto;
    text-align: left;
}
.search-list h3{
    color: #000;
    padding: 20px;
    font-size: 19px;
    font-family: "M";
}
.search-list h3:hover{
    color:#000;
}
.search-list span{    
    color: #666;
    padding: 20px;
    font-family: "L";
    font-size: 18px;

}
.search-list span:hover{
    color:#05aad2;

}

.search-btn{
    background: url(../img/search-btn.webp) center no-repeat #fff;
    height: 45px;
    border: none;
    
    padding: 20px;
}
.main-hero {
    width: 1120px;
    margin: 75px auto;
}

.main-hero h5 {
    line-height: 1;
    letter-spacing: 0.1em;
    color: #002c5f;
    margin-bottom: 2px;
    font-size: 15px;
}

.main-hero h2 {
    font-size: 44px;
    line-height: 1.2;
    margin: 0 0 20px 0;
}

.img-list {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.img-wrap {
    height: 390px;
    overflow: hidden;
}

.img-wrap-2 {
    position: relative;
}

.img-wrap-2 a {
    text-decoration: none;
    color: #fff;
}

.img-wrap-2 img {

    position: absolute;
    top: 0;
}

.img-title {
    width: 350px;
}

.img-title span {
    position: absolute;
    z-index: 1;
    top: 18px;
    left: 18px;

}

.img-title span:first-child {
    display: block;
    font-size: 12px;
    font-family: "HyundaiKRMedium", "HyundaiMedium";
    line-height: 1;
    letter-spacing: 0.1em;
}

.img-title span:nth-child(2) {
    font-size: 24px;
    line-height: 1.2;
    top: 33px;
    font-family: 'm';
    letter-spacing: -1px;
}

.img-section {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:fit-content;
    gap:32px;
}
.img-section div{
    width: min-content;
}

.img-section h2 {
    width:fit-content;
    margin-bottom: 6px;
    margin-top: 10px;
    display: block;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.1em;
    color: #002c5f;
}

.img-section p {
    font-weight: normal;
    font-size: 18px;
    font-family: "b";
    line-height: 24px;
    width:fit-content;
}

.global-section {
    background: #002c5f;
    width: 100%;
    position: relative;
    margin:200px  0  0 0 ;
}

.global-section * {
    color: #fff;
}

.global-wrap {
    padding:150px 0;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 32px;
}

.global-wrap .global-txt h1 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 40px;
    font-family: "B";
    line-height: 1.3;
}

.global-wrap .global-txt p {
    font-family: "L";
    line-height: 1.5;
    margin-bottom: 40px;

}

.global-wrap a {
    background: #777673;
    display: inline-block;
    min-width: 140px;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
}

.mousehover-img{
    display: flex;
    flex-flow: wrap;
    gap:32px;
    justify-content: space-between;
    
}
.img-bg{
    width: 352px;
    height:352px;
    position: relative
}
.hover-txt{
      
       position: absolute;
       background: #002c5f;
       color: #fff;
       padding: 33px;
       box-sizing: border-box;
       background-color: #002c5f;
       font-size: 18px;
       color: #f6f3f2;
       word-break: keep-all;
       line-height: 2;
       opacity: 0;
       transition: 0.4s;
       width: 300px;
       left: 50%;
       top: 50%;
       transform: translate(-50% ,-50%);
}
.opacity-1{
    opacity:1;
}
.hover-txt:hover{
    display:block;
}
.img1{
    background:url(../img/01.webp);    
}
.img2{
    background:url(../img/02.webp);    
}
.img3{
    background:url(../img/03.webp);    
}
.img4{
    background:url(../img/04.webp);    
}
.img5{
    background:url(../img/05.webp);    
}
.img6{
    background:url(../img/06.webp);    
}

footer{
    background-color: #000;
    
}
footer .footer-inner{
    width: 1120px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

footer a{
    color:#fff;
}

.footer-logo-inner{
    width:1120px;
    margin: 0 auto;
    padding: 72px 0 72px 0;
}

.footerlist li a{
    line-height:2;
    font-family:"M";
    color:#cfc8c2;
}

.footerlist li:first-child a{
    font-family: 'B';
    color:#fff;
    font-size: 1.17em;
}
.footer-copy-inner{
    width:1120px;
    margin: 0 auto;
    padding: 0 0 82px 0;
}
.copyright{
    margin-top: 75px;
    font-size: 14px;
    line-height: 1;
    color:#cfc8c2;
}